<div class="all-users-page">
  <button class= 'btn btn-secondary align-self-end'>
    <%= link_to 'Sign Out', destroy_user_session_path, class: 'text-light', data: { turbo_method: :delete } %>
  </button>
  <%= render partial: "shared/user", collection: @users %>
  <%= link_to 'Create Post', new_user_post_path(@current_user), class: "btn btn-primary align-self-center" %>
</div>
