<div class="user-container">
  <img class="user-img" src=<%= user.photo %> alt="user profile image">
  <div class="user-info">
    <h1 class="user-name"><%= user.name %></h1>
    <p class="posts-counter">Number of posts: <%= user.posts_counter %></p>
  </div>
</div>
