<div class="p-5">
  <h1>Create New Post</h1>

  <%= bootstrap_form_with model: @post, url: user_posts_path(@current_user, @post), scope: :form_post do |f| %>
    <%= f.text_field :title %>
    <%= f.text_area :text %>
    <%= f.submit %>
  <% end %>
</div>
